{% extends 'base.html' %}

{% block content %}
<main class="container mt-3">

    <h1 class="display-5 mt-4">Летим
        {% if departure == "msk" %}
        Из Москвы
        {% elif departure == "ekb" %}
        Из Екатеринбурга
        {% elif departure == "nsk" %}
        Из Новосибирска
        {% elif departure == "kazan" %}
        Из Казани
        {% else %}
        Из Петербурга
        {% endif %}
    </h1>
    <p class="mb-4">Найдено
        {% if departure == "msk" %}
        3 тура, от 26 000 до 84 600 и от 4 ночей до 15 ночей
        {% elif departure == "ekb" %}
        3 тура, от 49 000 до 85 000 и от 8 ночей до 9 ночей
        {% elif departure == "nsk" %}
        3 тура, от 39 000 до 63 000 и от 6 ночей до 11 ночей
        {% elif departure == "kazan" %}
        3 тура, от 44 000 до 91 000 и от 7 ночей до 12 ночей
        {% else %}
        4 тура, от 53 000 до 82 600 и от 8 ночей до 13 ночей
        {% endif %}</p>

    <!-- CARDS -->
    <div class="row mt-5">
        {% for tour_id, tour in tours.items %}
        <div class="col-4">
            <div class="card mb-4">
                <img src="{{ tour.picture }}" class="card-img-top img-fluid" alt="">
                <div class="card-body">
                    <h2 class="h5 card-title">{{ tour.title }}</h2>
                    <p class="card-text">{{ tour.description }}</p>
                    <p class="">{{ tour.country }}, {{ tour.nights }} ночей, {{ tour.price }}₽</p>
                    <a href="{% url 'tour' tour_id %}" class="btn btn-sm btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}