{% extends 'base.html' %}

{% block content %}
<main class="container">

    <section class="mt-3 pb-5">
        {% for tour_id, tour in tours.items %}
        <h1>{{ tour.title }} {{ '★'|multiply:tour.stars }}</h1>

        <!-- HERO -->
        <p class="lead">{{ tour.country }}{% for dep, dep_name in departures.items %}
            {% if tour.departure == dep %}
            {{ dep_name }}{% endif %}{% endfor %}
            {{ tour.nights }} ночей</p>
        <img src="{{ tour.picture }}">
        <p class="my-4 w-75">{{ tour.description }}</p>
        <a href="#" class="btn btn-success btn-lg">Купить тур за {{ tour.price }}₽</a>
        {% endfor %}
    </section>
</main>
{% endblock %}